@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rowdies:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #0C0D0E;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    flex-direction: row;
}
.container > div {
    width: 50%;
}

.questions  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 3rem;
    background-color: #fff;
    width: 100%;
}
.questions > div {
    width: 90%;
    height: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questions > div > h1{
    font-family: 'Rowdies';
    font-weight: 400;
    text-align: center;
    color: #FE3B1F;
    font-size: 56px;
    word-wrap: break-word;
    margin-bottom: 2rem;
}

.questions > div > input,
.questions > div > select {
    font-family: 'Montserrat';
    font-weight: 800;
    color: #8d8d8d;
    margin-top: 1rem;
    width: 455px;
    padding: .8rem 2rem;
    border: 1px solid #8d8d8d;
    text-align: left;
}

.questions > div > div {
    margin: 1.2rem 2rem 3.5rem 2rem;
    width: 455px;
}

.questions > div > div > button {
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 15px;
    background-color: #FE3B1F;
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    position: absolute;
    font-weight: 600;
    right: 0;
    top: 0;
}

.formstage > small {
    width: 455px;
    color: #FE3B1F;
    font-weight: 900;
    text-align: left;
    padding-left: 2rem;
}

#stages {
    height: 4rem;
    width: 70%;
    padding: 0;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
#stages > .fa-solid {
    margin: .3rem;
    cursor: pointer;
    color: #FE3B1F;
    opacity: .18;
}
.fa-circle:hover{
    transition: 1s ease;
    opacity: 1 !important;
}
#stages > .fa-circle-left,
#stages > .fa-circle-right{
    opacity: 1;
}
.active {
    opacity: 1 !important;
}

.checked {
    opacity: 1 !important;
    color: #FE3B1F;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0C0D0E;
    padding: 7rem;
    padding-top: 3rem;
    width: 100%;
    height: inherit;
}
.info > h1{
    font-family: 'Rowdies';
    font-weight: 400;
    text-align: center;
    color: #FE3B1F;
    font-size: 56px;
    word-wrap: break-word;
    margin-bottom: 2rem;
}
.info > p {
    font-family: 'Montserrat';
    color: #fff;
    font-size: 20px;
    line-height: 200%;
}

.hide {
    display: none !important;
}
.skilllist {
    height: auto;
    /* overflow-y: auto; */
}

.skilllist > section {
    display: flex;
    border: 1px solid #8d8d8d ;
    margin: 1rem 0rem;
    padding: .8rem 0rem;
}
.skilllist > section > div > i{
    cursor: pointer;
    font-size: 24px;
    text-align: end;
    color: #FE3B1F;
}
.skilllist > section > div {
    color: #0C0D0E;
    display: inline-flex;
}
.skilllist > section > div:nth-of-type(1){
    justify-content: center;
    align-items: center;
    width: 100px;
}
.skilllist > section > div:nth-of-type(2){
    justify-content: flex-start;
    align-items: center;
    width: 300px;
}

/* third form  */

#stage3 > div {
    display: flex;
    flex-direction: column;
}
#stage3 div section{
    margin-top: 1rem;
}
#stage3 div section h3{
    font-family: 'Montserrat';
}

.round {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}
.round p {
    margin-left: 1rem;
}
.round label {
    margin-left: 1rem;
}


#contactCovid,
#vaccinated {
    margin-top: 2rem;
}

#contactCovid h2,
#vacinated h2{
    font-family: 'Montserrat';
    font-size: 18px;
}

#contactCovid input,
#vaccinated input {
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #8d8d8d;
    margin-top: 1rem;
    width: 455px;
    padding: .8rem 2rem;
    border: 1px solid #8d8d8d;
    text-align: left;
}
#contactCovid small,
#vaccinated small{
    width: 455px;
    color: #FE3B1F;
    font-weight: 900;
    text-align: left;
    padding-left: 2rem;
}

#somethingSpecialErr,
#devtalkErr {
    width: 455px;
    color: #FE3B1F;
    font-weight: 900;
    text-align: left;
    padding-left: 2rem;
}
/* fourth form */

#stage4 section {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin-top: 1rem;
}
#stage4 section textarea {
    margin-top: 1rem;
    max-width: 355px;
    max-height: 100px;
    resize: none;
    color: #8d8d8d;
    padding: 1.5rem 1rem .5rem 1rem;
    border: 1px solid #8d8d8d;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

/* Submit stage */

#submitForm {
    height: 100vh;
    width: 100%;
    background: #0C0D0E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#submitForm div a {
    color: white;
    margin-top: 2rem;
    text-decoration: underline;
    cursor: pointer;
}
#submitAppForm{
    margin: 0;
    padding: 0;
}
#formBtns{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.submitBtn {
    font-family: 'Montserrat';
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    padding: 1rem 4rem;
    border-radius: 50px;
    background: #FE3B1F;
    border: none;
}

#thnkForJoining > h1 {
    font-family: 'Rowdies';
    font-weight: 400;
    text-align: center;
    color: #FE3B1F;
    font-size: 56px;
    word-wrap: break-word;
    margin-bottom: 2rem;
}